<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的首页在这里</title>
</head>
<body>
    <h1>欢迎你来到我的test~</h1>
    <form>
       <div class="form-floating mb-3 mt-3">
           <input type="number" class="form-control" id="add-goods-price" placeholder="请输入商品价格"
                  name="price" required min="1">
           <label for="add-goods-price">商品价格</label>
       </div>
       <div class="d-grid">
           <button type="submit" class="btn btn-primary btn-block">添 加</button>
       </div>
    </form>
</body>
</html>