{% extends 'base.html' %}
{% block title %}二手物品交易平台 | 登录{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <div class="card mx-auto" style="width: 600px;margin-top: 200px;">
        <div class="card-body">
            <h2 class="text-center mb-3">欢迎登录二手物品交易平台</h2>
            {% if success %}
                <div class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{ success }}
                </div>
            {% endif %}
            <form action="{{ url_for('login') }}" method="post">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="username" placeholder="请输入用户名" name="username">
                    <label for="username">用户名</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="password" class="form-control" id="password" placeholder="请输入密码" name="password">
                    <label for="password">密码</label>
                </div>
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>错误!</strong> {{ error }}
                    </div>
                {% endif %}
                <div class="d-grid">
                    <a href="{{ url_for('signup') }}"
                       class="text-primary text-decoration-none text-center mx-auto mb-3">还没有账号？点我注册。</a>
                    <button type="submit" class="btn btn-primary btn-block">登 录</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

